bin/
obj/
build/
*.exe
*.o
*.out
*.gch
*.dll
!freeglut.dll
*.cbp
*.depend
*.layout
.vscode/*.code-workspace
.vscode/.browse.VC.db
.vscode/ipch/
.vscode/history/
.DS_Store
Thumbs.db
*.log
debug_log.txt
.vscode/c_cpp_properties.json
.vscode/settings.json